<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank Details</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>

<body>
  <div class="container">
    <h1 class="title">Bank Details</h1>
    <padding />
    <form class="form" method="post">
      <div class="form-group">
        <label class="form-label" for="bank_name">Bank name:</label>
        <input class="form-input" type="text" id="bank_name" name="bank_name" value="{{bank_name}}">
      </div>
      <div class="form-group">
        <label class="form-label" for="card_number">Card number:</label>
        <input class="form-input" type="text" id="card_number" name="card_number" value="{{card_number}}">
      </div>
      <div class="form-group">
        <label class="form-label" for="pin">Pin:</label>
        <input class="form-input" type="text" id="pin" name="pin" value="{{pin}}">
      </div>
      <p class="error">{{ error }}</p>
      <button class="button" type="submit">Sign Up</button>
    </form>
    <a class="back-link" href="{{ url_for('no_bank_details') }}">Continue without bank details</a>
    <a class="back-link" href="{{ url_for('signup') }}">Back to sign up page</a>
  </div>
</body>

</html>