<!DOCTYPE html>
<html>

<head>
    <title>Brinx - Online Shopping Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">Brinx</div>
        <div class="slogan">Find It. Love It. Buy It!</div>
        <img src="static/images/cart.gif" alt="Shopping Image" class="image">
        <div class="start-shopping">Shop the latest trends.</div>
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="{{ url_for('signup') }}" class="button">Sign Up</a>
    </div>
</body>

</html>
