<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

</head>

<body>
    <div class="container">
        <h1 class="title">Login</h1>
        <form class="form" method="post">
            <div class="form-group">
                <label class="form-label" for="username">Username:</label>
                <input class="form-input" type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password:</label>
                <input class="form-input" type="password" id="password" name="password">
            </div>
            <p class="error">{{ error }}</p>
            <button class="button" type="submit">Login</button>
        </form>
        <a class="back-link" href="{{ url_for('authenticate.index') }}">Back to Home</a>
    </div>
</body>

</html>