<!DOCTYPE html>
<html>

<head>
  <title>Online Shopping Store</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminConfirmation.css') }}">
  <style>
    body,
    h1,
    a {
      margin: 0;
      padding: 0;
    }


    body {
      background-color: rgb(54, 52, 52);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Arial', sans-serif;
      color: white;
    }
    
  </style>
</head>

<body>
  <div class="container">
    <h1 class="heading">Thank You For Shopping</h1>
    <h2>Your order will be deliver in 3 to 5 business days.</h2>
    <a href="{{ url_for('products') }}" class="button">Back to Products</a>
    <a href="{{ url_for('logout') }}" class="button">Logout</a>

  </div>
</body>

</html>