<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script>
        function openEditModal(uid, username, fullName, privileges) {

            // Construct unique modal ID
            var modalId = "editProductModal_" + uid;

            // Construct dynamic form action URL
            var formAction = "{{ url_for('admin.edit_admin', uid='') }}" + uid;

            // Create modal HTML
            var modalHtml = `
            <!-- Edit Product Modal -->
            <div id="${modalId}" class="modal">
                <div style=" height:580px;margin-left: 400px; margin-top: 40px;margin-bottom:20px;" class="modal-content">
                    <a href="{{ url_for('admin.index', type='admins') }}" class="close-button">&times;</a>
                    <h1 class="checkout-title">Edit Admins</h1>
                    <form method="post" action="${formAction}" enctype="multipart/form-data">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-input" type="text" id="username" name="username" value="${username}">

                        <label class="form-label" for="full_name">Full name</label>
                        <input class="form-input" type="text" id="full_name" name="full_name" value="${fullName}">

                        <fieldset>
                            <legend class="form-label">Select Privileges</legend>
                            <div class="privilege-item">
                            <input ${privileges.includes('ADD_USER') ? 'checked' : ''} type="checkbox" id="ADD_USER" name="privileges[]"
                                value="ADD_USER">
                            <label for="ADD_USER">ADD USER</label>
                            </div>
                            <div class="privilege-item">
                            <input ${privileges.includes('ADD_ADMIN') ? 'checked' : ''} type="checkbox" id="ADD_ADMIN" name="privileges[]"
                                value="ADD_ADMIN">
                            <label for="ADD_ADMIN">ADD ADMIN</label>
                            </div>
                            <div class="privilege-item">
                            <input ${privileges.includes('ADD_PRODUCT') ? 'checked' : ''} type="checkbox" id="ADD_PRODUCT"
                                name="privileges[]" value="ADD_PRODUCT">
                            <label for="ADD_PRODUCT">ADD PRODUCT</label>
                            </div>
                            <div class="privilege-item">
                            <input ${privileges.includes('EDIT_USER') ? 'checked' : ''} type="checkbox" id="EDIT_USER" name="privileges[]"
                                value="EDIT_USER">
                            <label for="EDIT_USER">EDIT USER</label>
                            </div>
                            <div class="privilege-item">
                            <input ${privileges.includes('EDIT_ADMIN') ? 'checked' : ''} type="checkbox" id="EDIT_ADMIN" name="privileges[]"
                                value="EDIT_ADMIN">
                            <label for="EDIT_ADMIN">EDIT ADMIN</label>
                            </div>
                            <div class="privilege-item">
                            <input ${privileges.includes('EDIT_PRODUCT') ? 'checked' : ''} type="checkbox" id="EDIT_PRODUCT"
                                name="privileges[]" value="EDIT_PRODUCT">
                            <label for="EDIT_PRODUCT">EDIT PRODUCT</label>
                            </div>
                            <div class="privilege-item">
                            <input ${privileges.includes('DELETE_USER') ? 'checked' : ''} type="checkbox" id="DELETE_USER"
                                name="privileges[]" value="DELETE_USER">
                            <label for="DELETE_USER">DELETE USER</label>
                            </div>
                            <div class="privilege-item">
                            <input ${privileges.includes('DELETE_ADMIN') ? 'checked' : ''} type="checkbox" id="DELETE_ADMIN"
                                name="privileges[]" value="DELETE_ADMIN">
                            <label for="DELETE_ADMIN">DELETE ADMIN</label>
                            </div>
                            <div class="privilege-item">
                            <input ${privileges.includes('DELETE_PRODUCT') ? 'checked' : ''} type="checkbox" id="DELETE_PRODUCT"
                                name="privileges[]" value="DELETE_PRODUCT">
                            <label for="DELETE_PRODUCT">DELETE PRODUCT</label>
                            </div>
                        </fieldset>
                        <br>

                        <p class="error">{{ error }}</p>
                        <button class="checkout-button" type="submit">Submit</button>
                    </form>
                </div>
            </div>`;

            // Append modal HTML to the body
            document.body.insertAdjacentHTML('beforeend', modalHtml);

            // Display the modal
            document.getElementById(modalId).style.display = 'block';
        }
    </script>

</head>

<body>
    <div class="header">
        <a href="{{url_for('admin.index')}}">
            <h1>Admin Panel</h1>
        </a>
        <a href="{{url_for('authenticate.logout')}}"> <img class="logout-logo" src="static/images/logoutLogo.png"
                alt="Logout Logo">
        </a>
    </div>


    <div class="navbar">
        <a href="{{ url_for('admin.index', type='products') }}"
            class="{% if type == 'products' %}current-page{% endif %}">Products</a>
        <a href="{{ url_for('admin.index', type='users') }}"
            class="{% if type == 'users' %}current-page{% endif %}">Users</a>
        <a href="{{ url_for('admin.index', type='admins') }}"
            class="{% if type == 'admins' %}current-page{% endif %}">Admins</a>
    </div>


    <div class="content">
        <form action="{{ url_for('admin.index', type='admins') }}" method="get" class="search-form">
            <input type="text" name="search" placeholder="Search admins..." value="{{ request.args.get('search', '') }}"
                class="search-input">
            <input type="hidden" name="type" value="admins">
            <button type="submit" class="search-button">
                {% if not request.args.get('search', '') %}
                <img class='search-logo' src="static/images/search.png" alt="searchlogo">
                {% else %}
                <a class="cross-button" href="{{url_for('admin.index',type='products')}}">&times;</a>
                {% endif %}
            </button>
        </form>
        {% if current_admin.has_privilege("ADD_ADMIN") %}
        <a href="#addAdminModal" id="add-product-button" class="add-button">Add Admin</a>
        {% endif %}
    </div>


    <div class="item-list">
        <div class="item">
            <div style="font-size: 18px;font-style: italic;">Admin name: <strong style="color:#2f8062d7;">{{
                    current_admin.username }} (You)</strong>
            </div>
        </div>
        {% if current_admin.username != "superadmin" %}
        <div class="item">
            <div style="font-size: 18px;font-style: italic;">Admin name: <strong style="color:#2f8062d7;">{{
                    "superadmin" }} (Protected)</strong>
            </div>
        </div>
        {% endif %}
        {% for admin in admins %}
        {% if admin.uid != current_admin.uid and admin.username != "superadmin" %}
        <div class="item">
            <div style="font-size: 18px;font-style: italic;">Admin name: <strong style="color:#2f8062d7;">{{
                    admin.username }}</strong></div>
            <div class="item-buttons">
                {% if current_admin.has_privilege("EDIT_ADMIN") %}
                <button type="button" class="action-button"
                    onclick='openEditModal("{{ admin.uid }}", "{{ admin.username }}", "{{ admin.full_name }}","{{ admin.privileges }}");'>
                    <img src="static/images/pencil.png" style="width: 24px;height: 24px;" alt="Edit">
                </button>
                {% endif %}
                {% if current_admin.has_privilege("DELETE_ADMIN") %}
                <form action="{{ url_for('admin.delete_admin', uid=admin.uid) }}" style="display:inline;">
                    <button type="submit" class="action-button">
                        <img src="static/images/delete.png" alt="Delete">
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Add Admin Modal -->
    <div id="addAdminModal" class="modal">
        <div style="height: 680px;
        margin-bottom: 30px;
        margin-top: 240px;" class="modal-content">
            <a href="#" class="close-button">&times;</a>
            <h2>Add Admin</h2>
            <form method="post" action="{{ url_for('admin.add_admin') }}">
                <label class="form-label" for="username">Username</label>
                <input class="form-input" type="text" id="username" name="username">

                <label class="form-label" for="full_name">Full name</label>
                <input class="form-input" type="text" id="full_name" name="full_name" value="{{full_name}}">

                <fieldset>
                    <legend class="form-label">Select Privileges</legend>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'ADD_USER' in privileges }} type="checkbox" id="ADD_USER"
                            name="privileges[]" value="ADD_USER">
                        <label for="ADD_USER">ADD USER</label>
                    </div>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'ADD_ADMIN' in privileges }} type="checkbox" id="ADD_ADMIN"
                            name="privileges[]" value="ADD_ADMIN">
                        <label for="ADD_ADMIN">ADD ADMIN</label>
                    </div>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'ADD_PRODUCT' in privileges }} type="checkbox" id="ADD_PRODUCT"
                            name="privileges[]" value="ADD_PRODUCT">
                        <label for="ADD_PRODUCT">ADD PRODUCT</label>
                    </div>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'EDIT_USER' in privileges }} type="checkbox" id="EDIT_USER"
                            name="privileges[]" value="EDIT_USER">
                        <label for="EDIT_USER">EDIT USER</label>
                    </div>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'EDIT_ADMIN' in privileges }} type="checkbox" id="EDIT_ADMIN"
                            name="privileges[]" value="EDIT_ADMIN">
                        <label for="EDIT_ADMIN">EDIT ADMIN</label>
                    </div>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'EDIT_PRODUCT' in privileges }} type="checkbox" id="EDIT_PRODUCT"
                            name="privileges[]" value="EDIT_PRODUCT">
                        <label for="EDIT_PRODUCT">EDIT PRODUCT</label>
                    </div>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'DELETE_USER' in privileges }} type="checkbox" id="DELETE_USER"
                            name="privileges[]" value="DELETE_USER">
                        <label for="DELETE_USER">DELETE USER</label>
                    </div>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'DELETE_ADMIN' in privileges }} type="checkbox" id="DELETE_ADMIN"
                            name="privileges[]" value="DELETE_ADMIN">
                        <label for="DELETE_ADMIN">DELETE ADMIN</label>
                    </div>
                    <div class="privilege-item">
                        <input {{ 'checked' if 'DELETE_PRODUCT' in privileges }} type="checkbox" id="DELETE_PRODUCT"
                            name="privileges[]" value="DELETE_PRODUCT">
                        <label for="DELETE_PRODUCT">DELETE PRODUCT</label>
                    </div>
                </fieldset>
                <br>
                <label class="form-label" for="password">Password</label>
                <input class="form-input no-margin" type="password" id="password" name="password" value="">
                <p class="error">{{ error }}</p>
                <button class="checkout-button" type="submit">Submit</button>
            </form>
        </div>

    </div>
    <div class="pagination">
        <a class="prev-button{% if page == 1 %} disabled{% endif %}"
            href="{{ url_for('admin.index', type='admins', page=page-1) }}">&lt;</a>
        {% for p in range(start_page, end_page + 1) %}
        <a class="page-number{% if page == p %} active{% endif %}"
            href="{{ url_for('admin.index', type='admins', page=p) }}">{{ p }}</a>
        {% endfor %}
        <a class="next-button{% if page == total_pages %} disabled{% endif %}"
            href="{{ url_for('admin.index', type='admins', page=page+1) }}">&gt;</a>
    </div>
</body>

</html>