<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script>
        function openEditModal(uid, username, fullName, address) {

            // Construct unique modal ID
            var modalId = "editProductModal_" + uid;

            // Construct dynamic form action URL
            var formAction = "{{ url_for('edit_user', uid='') }}" + uid;

            // Create modal HTML
            var modalHtml = `
        <!-- Edit Product Modal -->
        <div id="${modalId}" class="modal">
            <div style=" height:440px;margin-left: 400px; margin-top: 40px;" class="modal-content">
                <a href="{{ url_for('admin', type='users') }}" class="close-button">&times;</a>
                <h1 class="checkout-title">Edit Users</h1>
                <form method="post" action="${formAction}" enctype="multipart/form-data">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-input" type="text" id="username" name="username" value="${username}">

                    <label class="form-label" for="full_name">Full name</label>
                    <input class="form-input" type="text" id="full_name" name="full_name" value="${fullName}">

                    <label class="form-label" for="address">Address</label>
                    <input class="form-input" type="text" id="address" name="address" value="${address}">

                    <p class="error">{{ error }}</p>
                    <button class="checkout-button" type="submit">Submit</button>
                </form>
            </div>
        </div>`;

            // Append modal HTML to the body
            document.body.insertAdjacentHTML('beforeend', modalHtml);

            // Display the modal
            document.getElementById(modalId).style.display = 'block';
        }
    </script>

</head>

<body>
    <div class="header">
        <a href="{{url_for('admin.index')}}">
            <h1>Admin Panel</h1>
        </a>
        <a href="{{url_for('logout')}}"> <img class="logout-logo" src="static/images/logoutLogo.png" alt="Logout Logo">
        </a>
    </div>


    <div class="navbar">
        <a href="{{ url_for('admin.index', type='products') }}"
            class="{% if type == 'products' %}current-page{% endif %}">Products</a>
        <a href="{{ url_for('admin.index', type='users') }}"
            class="{% if type == 'users' %}current-page{% endif %}">Users</a>
        <a href="{{ url_for('admin.index', type='admins') }}"
            class="{% if type == 'admins' %}current-page{% endif %}">Admins</a>
    </div>


    <div class="content">
        <form action="{{ url_for('admin.index', type='users') }}" method="get" class="search-form">
            <input type="text" name="search" placeholder="Search users..." value="{{ request.args.get('search', '') }}"
                class="search-input">
            <input type="hidden" name="type" value="users">
            <button type="submit" class="search-button">
                {% if not request.args.get('search', '') %}
                <img class='search-logo' src="static/images/search.png" alt="searchlogo">
                {% else %}
                <a class="cross-button" href="{{url_for('admin.index',type='products')}}">&times;</a>
                {% endif %}
            </button>
        </form>
        {% if current_admin.has_privilege("ADD_USER") %}
        <a href="#addUserModal" id="add-product-button" class="add-button">Add User</a>
        {% endif %}
    </div>


    <div class="item-list">
        {% for user in users %}
        <div class="item">
            <div style="font-size: 18px;font-style: italic;">Username: <strong style="color:#2f8062d7;">{{ user.username
                    }}</strong></div>
            <div class="item-buttons">
                {% if current_admin.has_privilege("EDIT_USER") %}
                <button type="button" class="action-button"
                    onclick='openEditModal("{{ user.uid }}", "{{ user.username }}", "{{ user.full_name }}", "{{ user.address }}");'>
                    <img src="static/images/pencil.png" style="width: 24px; height: 24px;" alt="Edit">
                </button>


                {% endif %}
                {% if current_admin.has_privilege("DELETE_USER") %}
                <form action="{{ url_for('admin.delete_user', uid=user.uid) }}" style="display:inline;">
                    <button type="submit" class="action-button">
                        <img src="static/images/delete.png" alt="Delete">
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>


    <div id="addUserModal" class="modal">
        <div style="height: 830px;
        margin-bottom: 30px;
        margin-top: 405px;" class="modal-content">
            <a href="#" class="close-button">&times;</a>
            <h2>Add User</h2>
            <form method="post" action="{{ url_for('admin.add_user') }}">
                <label class="form-label" for="username">Username</label>
                <input class="form-input" type="text" id="username" name="username" value="{{username}}">

                <label class="form-label" for="full_name">Full name</label>
                <input class="form-input" type="text" id="full_name" name="full_name" value="{{full_name}}">

                <label class="form-label" for="address">Address</label>
                <input class="form-input" type="text" id="address" name="address" value="{{address}}">



                <fieldset>
                    <legend class="form-label">Bank Details (optional)</legend>
                    <label class="form-label" for="bank_name">Bank name</label>
                    <input class="form-input" type="text" id="bank_name" name="bank_name" value="{{bank_name}}">

                    <label class="form-label" for="card_number">Card number</label>
                    <input class="form-input" type="text" id="card_number" name="card_number" value="{{card_number}}">

                    <label class="form-label" for="pin">Pin</label>
                    <input class="form-input" type="text" id="pin" name="pin" value="{{pin}}">

                </fieldset>
                <br>

                <label class="form-label" for="password">Password</label>
                <input class="form-input no-margin" type="password" id="password" name="password" value="">
                <p class="error">{{ error }}</p>
                <button class="checkout-button" type="submit">Submit</button>

            </form>
        </div>
    </div>

    <div class="pagination">
        <a class="prev-button{% if page == 1 %} disabled{% endif %}"
            href="{{ url_for('admin.index', type='users', page=page-1) }}">&lt;</a>
        {% for p in range(start_page, end_page + 1) %}
        <a class="page-number{% if page == p %} active{% endif %}"
            href="{{ url_for('admin.index', type='users', page=p) }}">{{ p }}</a>
        {% endfor %}
        <a class="next-button{% if page == total_pages %} disabled{% endif %}"
            href="{{ url_for('admin.index', type='users', page=page+1) }}">&gt;</a>
    </div>
</body>

</html>