body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

h1,
h2,
p {
  margin: 10px 0;
}

.product-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: contain;
}

.product-info {
  margin-top: 20px;
  text-align: left;
}

.product-description {
  text-align: left;
}

.rating {
  font-size: 20px;
  color: #2f8062d7;
  margin-left: 10px;
}

.rating span {
  display: inline-block;
  width: 24px;
  scale: 150%;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-container a,
.button-container button {
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.button-container a {
  background-color: #2f8062d7;
}

.button-container button {
  background-color: #2f8062d7;
  width: 200px;
}

.button-container a:hover,
.button-container button:hover {
  background-color: #42a983d7;
}

.arrow {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 35px;
  height: 35px;
}

input[type="number"] {
  width: 60px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  transition: border-color 0.3s ease;
  margin-top: 20px;
}

input[type="number"]:focus {
  border-color: #2f8062d7;
  outline: none;
}
