<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">


</head>

<body>
    <div class="header">
        <h1>Admin Panel</h1>
        <a href="{{url_for('authenticate.logout')}}"> <img class="logout-logo" src="static/images/logoutLogo.png"
                alt="Logout Logo">
        </a>
    </div>

    <div class="navbar">
        <a href="{{ url_for('admin.index', type='products') }}"
            class="{% if type == 'products' %}active disabled{% endif %}">Products</a>
        <a href="{{ url_for('admin.index', type='users') }}"
            class="{% if type == 'users' %}active disabled{% endif %}">Users</a>
        <a href="{{ url_for('admin.index', type='admins') }}"
            class="{% if type == 'admins' %}active disabled{% endif %}">Admins</a>
    </div>



</body>

</html>


<div class="content" style="font-size: 24px; font-weight: bold; color: gray; margin-top: 100px;">
    <p>Welcome to the Admin Panel. Please select a tab to manage the respective section.</p>
</div>