<!DOCTYPE html>
<html>

<head>
  <title>Action Failed</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminConfirmation.css') }}">
  <style>
    body,
    h1,
    a {
      margin: 0;
      padding: 0;
    }


    body {
      background-color: rgb(54, 52, 52);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Arial', sans-serif;
      color: white;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="heading">Action Failed</h1>
    <h2>{{ action_detail }}</h2>
    <a href="{{ back_link }}" class="button">OK</a>
  </div>
</body>

</html>