<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

</head>

<body>
  <div class="container">
    <h1 class="title">Payment method</h1>
    <div class="switch-method-row">
      <a class="active">Cash on delivery</a>
      <a href="{{ url_for('checkout_bank') }}">Bank payment</a>
    </div>
    <form method="post" action="{{ url_for('checkout_cod') }}">
      <label class="form-label" for="email">Email</label>
      <input class="form-input" type="text" id="email" name="email" value="{{email}}">
      <label class="form-label" for="phone">Phone number</label>
      <input class="form-input" type="text" id="phone" name="phone" value="{{phone}}">

      <label class="form-label" for="full_name">Full name</label>
      <input class="form-input" type="text" id="full_name" name="full_name" value="{{user.full_name}}">
      <label class="form-label" for="address">Delivery address</label>
      <input class="form-input" type="text" id="address" name="address" value="{{user.address}}">

      <label class="form-label" for="password">Account password</label>
      <input class="form-input no-margin" type="password" id="password" name="password" value="">
      <p class="error">{{ error }}</p>
      <button class="button" type="submit">Checkout</button>
    </form>
    <a class="back-link" href="{{ url_for('cart_') }}">Back to Cart</a>
  </div>
</body>

</html>