<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}">
</head>

<body>
  <div class="container">
    <h1 class="title">Payment method</h1>
    <div class="switch-method-row">
      <a href="{{ url_for('checkout_cod') }}">Cash on delivery</a>
      <a class="active">Bank payment</a>
    </div>
    <form method="post" action="{{ url_for('checkout_bank') }}">
      {% if user.bank_details %}
      <label class="form-label" for="bank_name">Bank name</label>
      <input class="form-input" type="text" id="bank_name" name="bank_name" value="{{user.bank_details.bank_name}}"
        disabled>
      <label class="form-label" for="card_number">Card number</label>
      <input class="form-input" type="text" id="card_number" name="card_number"
        value="{{user.bank_details.card_number}}" disabled>
      {% else %}
      <label class="form-label" for="bank_name">Bank name</label>
      <input class="form-input" type="text" id="bank_name" name="bank_name" value="{{user.bank_details.bank_name}}">
      <label class="form-label" for="card_number">Card number</label>
      <input class="form-input" type="text" id="card_number" name="card_number"
        value="{{user.bank_details.card_number}}">
      {% endif %}

      <label class="form-label" for="full_name">Full name:</label>
      <input class="form-input" type="text" id="full_name" name="full_name" value="{{user.full_name}}">
      <label class="form-label" for="address">Delivery address:</label>
      <input class="form-input" type="text" id="address" name="address" value="{{user.address}}">

      <label class="form-label" for="pin">PIN:</label>
      <input class="form-input no-margin" type="password" id="address" name="pin" value="{{user.pin}}">
      <p class="error">{{ error }}</p>
      <button class="button" type="submit">Checkout</button>
    </form>
    <a class="back-link" href="{{ url_for('cart_') }}">Back to Cart</a>
  </div>
</body>

</html>