<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="title">Order History</h1>
        <div class="navbar">
            <a class="btn" href="{{ url_for('user.products') }}">Back to Products</a>
            <a class="btn" href="{{ url_for('authenticate.logout') }}">Logout</a>
        </div>
        {% if orders %}
        {% for order in orders %}
        <div class="order">
            <h3 class="order-id">ID: {{ order.uid }}</h3>
            <ul class="order-items">
                {% for item in order.items %}
                <li class="order-item"><strong>{{ item.product.title }}</strong> - Price:
                    <strong>${{ item.product.price }}</strong> - Quantity: <strong>{{ item.quantity }}</strong>
                </li>
                {% endfor %}
                <li class="order-item"><strong>Payment method: </strong>{{ order.type }}</li>
                <li class="order-item"><strong>Full name: </strong>{{ order.full_name }}</li>
                <li class="order-item"><strong>Address: </strong>{{ order.address }}</li>
                <li class="order-item"><strong>Date: </strong>{{ order.timestamp }}</li>
                {% if order.type == 'Bank' %}
                <li class="order-item"><strong>Bank name: </strong>{{ order.bank_name }}</li>
                <li class="order-item"><strong>Card number: </strong>{{ order.card_number }}</li>
                {% elif order.type == 'COD' %}
                <li class="order-item"><strong>Email: </strong>{{ order.email }}</li>
                <li class="order-item"><strong>Phone: </strong>{{ order.phone }}</li>
                {% endif %}
            </ul>
            <p class="total-bill">Total Bill: ${{ order.bill }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p class="no-history">You have no order history.</p>
        {% endif %}
        <a class="to-cart" href="{{ url_for('logout') }}">
            <img class="logout-logo" src="static/images/logoutLogo.png" alt="Logout Logo">
        </a>
    </div>
</body>

</html>