<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.cart-form').on('submit', function (event) {
                event.preventDefault(); // Prevent the form from submitting the default way

                var form = $(this);
                var button = form.find('.add-to-cart, .remove-from-cart');
                var url = form.attr('action');
                var formData = form.serialize(); 

                $.post(url, formData)
                    .done(function (response) {
                        if (url.endsWith('add_to_cart')) {
                            button.text('Remove from Cart');
                            form.attr('action', "{{ url_for('user.remove_from_cart') }}");
                        } else if (url.endsWith('remove_from_cart')) {
                            button.text('Add to Cart');
                            form.attr('action', "{{ url_for('user.add_to_cart') }}");
                        }
                    })
                    .fail(function () {
                    });
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <a href="{{ url_for('user.products')}}">
            <img src="../static/images/arrow.png" class="arrow">
        </a>
        <h1>{{ product.title }}</h1>
        <img class="product-image" src="../{{product.image_path}}" alt="{{ product.title }}">
        <div class="product-info">
            <h2>Price: <span style="color:#2f8062d7;">${{ product.price }}</span></h2>
            <div style="display: flex">

                <h2>Rating:</h2>
                <p class="rating">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </p>
            </div>

            <div class="product-description">
                <h2>Description:</h2>
                <p style="color: rgb(80, 79, 79);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut nisi
                    ac neque congue posuere. Vestibulum hendrerit elit in sapien feugiat, a commodo est ultricies.
                    Phasellus auctor nulla eget magna lacinia, nec laoreet ipsum posuere. Mauris in eros sed velit
                    feugiat efficitur. Nullam id suscipit nisi. Quisque viverra velit id augue dictum, sit amet
                    fermentum quam fringilla. In ut justo libero. Morbi ultricies, velit sit amet sollicitudin
                    scelerisque, nunc ligula luctus turpis, nec venenatis ligula enim id nulla. Integer a tellus ut arcu
                    fermentum vestibulum vel vitae dui. Phasellus ac magna id nulla venenatis sollicitudin. Duis vel
                    erat auctor, fermentum nunc at, euismod libero. Nunc eget pharetra lacus. Sed eget turpis in elit
                    ullamcorper dignissim nec et magna. Vivamus condimentum, nisi eget luctus ultricies, enim mi tempus
                    est, ac suscipit purus metus a elit..</p>
            </div>



            <div class="button-container">
                <form class="cart-form"
                    action="{{ url_for('user.add_to_cart')}}"
                    method="post">
                    <button class="add-to-cart" type="submit">{{'Add to cart'}}</button>
                    <input type="number" name="quantity" min="1" value="1" >
                    <input type="hidden" name="product_id" value="{{ product.uid }}">
                </form>
            </div>
        </div>
    </div>
</body>

</html>