<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminConfirmation.css') }}">
    

<body>
    <div class="checkout-container">
        <h1 class="checkout-title">Edit User</h1>
        <form method="post" action="{{ url_for('admin.edit_user', uid=user.uid) }}">
            <label class="form-label" for="username">Username</label>
            <input class="form-input" type="text" id="username" name="username" value="{{user.username}}">

            <label class="form-label" for="full_name">Full name</label>
            <input class="form-input" type="text" id="full_name" name="full_name" value="{{user.full_name}}">

            <label class="form-label" for="address">Address</label>
            <input class="form-input" type="text" id="address" name="address" value="{{user.address}}">

            <p class="error">{{ error }}</p>
            <button class="checkout-button" type="submit">Submit</button>
        </form>
        <a class="back-link" href="{{ url_for('admin.index', type='users') }}">Back to admin panel</a>
    </div>
</body>

</html>