<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminConfirmation.css') }}">
</head>

<body>
  <div class="checkout-container">
    <h1 class="checkout-title">Add Product</h1>
    <form method="post" action="{{ url_for('add_product') }}" enctype="multipart/form-data">
      <label class="form-label" for="title">Title</label>
      <input class="form-input" type="text" id="title" name="title" value="{{product.title}}">


      <fieldset>
        <legend class="form-label">Image (optional)</legend>
        <input class="form-label" type="file" name="image" id="image" accept="image/*">
      </fieldset>
      <br>

      <label class="form-label" for="price">Price</label>
      <input class="form-input no-margin" type="text" id="price" name="price" value="{{product.price}}">

      <p class="error">{{ error }}</p>
      <button class="checkout-button" type="submit">Submit</button>
    </form>
    <a class="back-link" href="{{ url_for('admin', type='products') }}">Back to admin panel</a>
  </div>
</body>

</html>